
<h3>Afisare stiri</h3>

@if (TempData.ContainsKey("message"))
{
    <hr />
    <h5>@TempData["message"]</h5>
    <hr />
}

@foreach (PlatformaDeStiri.Models.News elm in ViewBag.news)
{
    @Html.Partial("NewsInfo", elm)
}